@import "../compass/compass/functions";
@import "../compass/compass/css3";

button.accordionNew {
    background-color: $white-two;
    cursor: pointer;
    min-width: 9px;
    border: none;
    text-align: left;
    outline: none;
    // transition: 0.4s;
}

button.accordion {
    background-color: $white-two;
    cursor: pointer;
    min-width: 9px;
    border: none;
    text-align: left;
    outline: none;
    // transition: 0.4s;
}

button.accordion.active {
    // background-color: var(--white-two);
}

button.accordion:before {
    content: '+';
    font-size: 14px;
    font-weight: 900;
    color: #9b9b9b;
}

button.accordion.active:before {
    content: "–";
    font-size: 14px;
    font-weight: 900;
    color: #9b9b9b;
}


button.accordionAZ {
    background-color: $white-two;
    cursor: pointer;
    min-width: 9px;
    border: none;
    text-align: left;
    outline: none;
    // transition: 0.4s;
}

button.accordionAZ.active {
    // background-color: var(--white-two);
}

button.accordionAZ:before {
    content: 'Z to A';
    font-size: 1rem;
    // font-weight: 900;
    color: #9b9b9b;
}

button.accordionAZ.active:before {
    content: 'A to Z';
    font-size: 1rem;
    // font-weight: 900;
    color: #9b9b9b;
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    //transition: 0.1s ease-in-out;
}

div.panel.show {
    visibility: visible;
	max-height: 100%;
    opacity: 1;
}

td.accordion {
    text-align: left; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:300;
    line-height:1.6rem;
}

td.accordion-underline {
    text-align: left; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:300;
    overflow: hidden;
    border-bottom:1px solid $white-three;
}

th.accordion {
    text-align:left; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    overflow: hidden;
    border-bottom:1px solid $white-three;
}

td.accordion-grey {
    text-align: left; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:300;
    background-color:$white-two;
}

td.sample-padding {
    // padding-left: 1rem;
    padding-right: 1.5rem;
    //vertical-align:top;
}



table.accordion {
	width: 100%;
}

table.big-accordion {
    width: 100%;
    table-layout:auto;

}

table.accordion.expanded {
    background-color: $white-two;
}

th.w2 , td.w2 {width:2%;}
th.w3 , td.w3 {width:3%;}
th.w4 , td.w4 {width:4%;}
th.w5 , td.w5 {width:5%;}
th.w6 , td.w6 {width:6%;}
th.w7 , td.w7 {width:7%;}
th.w8 , td.w8 {width:8%;}
th.w9 , td.w9 {width:9%;}
th.w10 , td.w10 {width:10%;}
th.w11 , td.w11 {width:11%;}
th.w12 , td.w12 {width:12%;}
th.w13 , td.w13 {width:13%;}
th.w14 , td.w14 {width:14%;}
th.w15 , td.w15 {width:15%;}
th.w16 , td.w16 {width:16%;}
th.w17 , td.w17 {width:17%;}
th.w18 , td.w18 {width:18%;}
th.w19 , td.w19 {width:19%;}
th.w20 , td.w20 {width:20%;}
th.w21 , td.w21 {width:21%;}
th.w22 , td.w22 {width:22%;}
th.w23 , td.w23 {width:23%;}
th.w24 , td.w24 {width:24%;}
th.w25 , td.w25 {width:25%;}
th.w26 , td.w26 {width:26%;}
th.w27 , td.w27 {width:27%;}
th.w28 , td.w28 {width:28%;}
th.w29 , td.w29 {width:29%;}
th.w30 , td.w30 {width:30%;}
th.w31 , td.w31 {width:31%;}
th.w32 , td.w32 {width:32%;}
th.w33 , td.w33 {width:33%;}
th.w34 , td.w34 {width:34%;}
th.w35 , td.w35 {width:35%;}
th.w40 , td.w40 {width:40%;}
th.w45 , td.w45 {width:45%;}
th.w50 , td.w50 {width:50%;}
th.w54 , td.w54 {width:54%;}
th.w55 , td.w55 {width:55%;}
th.w60 , td.w60 {width:60%;}
th.w65 , td.w65 {width:65%;}
th.w70 , td.w70 {width:70%;}
th.w73 , td.w73 {width:73%;}
th.w75 , td.w75 {width:75%;}
th.w80 , td.w80 {width:80%;}
th.w85 , td.w85 {width:85%;}
th.w90 , td.w90 {width:90%;}
th.w95 , td.w95 {width:95%;}
th.w100 , td.w100 {width:100%;}

.accordion .look-menu-absolute-wrap .edit-box {
    margin-left: 0; 
}