.cards-list-wrap {
	overflow-y: scroll;
	height: 100vh;
}

.cards-list {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;
}

.cards-list {
	.card {
		// width: 20%;
		margin-bottom: 0;
		position: relative;
	}
	.card-image-name {
		position: absolute;
		top: 5px;
		left: 10px;
		z-index: 1;
		width: calc(100% - 53px);
		text-shadow: 0 2px 4px rgba(0,0,0,0.5);
		text-transform: capitalize; 
	}

	.card .indigital-align {
		width: 95px;
		position: absolute;
		height: 20px;
		left: 0;
		bottom: 0;
	}

	

	.card-image {
		position: relative;
	}

	.card-image:hover {
		cursor: pointer;
	}

}