
.contact-entry {
  height: auto;
  width: auto;
  max-height: 44px;
  max-width: 44px;
  display: block;
  // margin-right: 10px;
  position:relative;
}
//contact entry table layouts
.con-td-1{
  width:55px;
}
.con-td-2{
  width:150px;
}
.con-td-3{
  width:25px;
}
.con-td-4{
  width:25px;
}

.contact-entry > img{
	border-radius: 50%;
	-webkit-border-radius: 50%;
  max-height: 44px;
  max-width: 44px;
  width: auto;
  height: auto;
  display: block;
	
}
.clip-circle {
  clip-path: circle(20px at center);
  -webkit-clip-path: circle(20px at center);	
}
.contact-mark {
position: absolute;
bottom: 0;
left: 0; 
display: block; 

}
.contact-mark img {
	display: block; 
}