td.au-target.start-selected {
	border: 2px solid $flat-blue;
}

td.au-target.end-selected {
	border: 2px solid $flat-blue;
}

td.au-target.available {
	background-color: $muted-green;
}

td.au-target.today {
	background-color: $flat-blue;

	> a {
		color: white;
	}
}

td.au-target.not-available {
	background-color: $scarlet-45;
}

td.au-target.partial-available {
	background-color: $scarlet-45;
}