ai-dialog-overlay,
.ai-dialog-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: auto;

  &.active {
    opacity: 1;
  }

}

ai-dialog-container,
.ai-dialog-container {
  pointer-events: auto;
  transition: opacity .2s linear;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;

  &.active {
    opacity: 1;
  }

  & > div {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    max-height: 100%;
  }

  & > div > div {
    width: 100%;
    display: block;
    min-width: 300px;
    //RM ?????
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
  }

  &,
  & > div,
  & > div > div {
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https: //github.com/twbs/bootstrap/pull/10951
    outline:0;
  }

}

ai-dialog,
.ai-dialog {
  width: 100%;
  display: table;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0px;
  // padding: 3;
  min-width: 300px;
  //RM
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background: white;

  > ai-dialog-header,
  .ai-dialog-header {
    display: block;
    background-color: #f7f7f7;
    //padding: 16px;
    //border-bottom: 1px solid #e5e5e5;

    > button {
      float: right;
      border: none;
      display: block;
      width: 32px;
      height: 32px;
      background: $white-two;
      font-size: 22px;
      line-height: 16px;
      //margin: -14px -16px 0 0;
      padding: 0;
      cursor: pointer;
      color: $warm-grey;
    }

  }

  > ai-dialog-body,
  .ai-dialog-body {
    display: block;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
  }

  > ai-dialog-footer,
  .ai-dialog-footer {
    display: block;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 14px;
    // border-top: 1px solid #e5e5e5;
    text-align: center;

    button {
      color: $black;
      background-color: $white-two;
      padding: 6px 12px;
      font-size: $font-size-button;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 0.5px solid $white-three;
      border-radius: 0px;
      margin: 5px 0 5px 5px;

      &:disabled {
        cursor: default;
        opacity: 0.45
      }

      &:hover:enabled {
        color: $black;
        background-color: $white-three;
        border-color: $pinkish-grey;
      }

    }

  }

}

.ai-dialog-open {
  overflow: hidden;
}

ai-dialog-header .tool-header {
  white-space: nowrap;
}
.dialog-header-content .align-center {
  margin-left: 32px;
}