.form-label-width-sm {
	min-width: 80px;
}


select {
  cursor: pointer;
}
.select-transparent {
  background-color: transparent;
  border-color: transparent;

&:hover, &:focus {
  border-color: transparent; 
}
}
.tool-header .select-transparent {
  height: auto;
  margin: 0; 
  color: #383838;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    min-height: 3rem;
    line-height: 1rem;
}


input.search-box,
input.search-box:hover,
input.search-box:focus {
  padding-left: 28px;
  padding-top: 8px;
  // height: 24px;
  // border: 0.5px solid var(--white-three);
  // ui-text-label-m-light 
  // font-family: Avenir, Lato;
  // line-height: 1.5;
  // color: var(--warm-grey);
  background-image: url('/assets/nav/MagGlass.png');
  background-repeat: no-repeat;
  background-position: 6px 4px;
}

span.slim-text-box-label {
  width: 78px;
  padding: 0.5rem;
  display: inline-block;
  text-align: right;
  white-space: nowrap;
}

span.slim-text-box {
  padding: 0.5rem;
  display: inline-block;
  white-space: nowrap;
}
.slim-form-wrap {
  width: 270px; 
  padding-left: 10px; 
  padding-right: 10px; 
}

.title-form {
  display: block; 
  margin-top: 1rem;
  margin-bottom: 0;
}
.slim-form-wrap .grid-block:first-child .title-form {
  margin-top: 0; 
}
.slim-form-wrap .inline-label, .slim-form-wrap select {
  margin-bottom: 0.5rem; 
}
span.slim-text-box-label-narrow {
  width: 35px;
  padding: 0.5rem;
  display: inline-block;
  text-align: right;
  white-space: nowrap;
}

input.slim-text-box,
select.slim-text-box {
  width: 169px;
}

input.slim-text-box-mid {
  width: 58px;
}

input.slim-text-box-narrow {
  width: 33px;
}
