/* Text styles */
/* reset for rem = 11px */

.w-a-r-n-i-n-g {
	font-size: 72px;
	font-weight: 500;
	letter-spacing: 3.3px;
	color: var(--scarlet);
}

.welcome-header {
	font-size: $font-size-headings;
	font-weight: 900;
	text-align: center;
	color: var(--black);
}

.welcome-text {
	font-size: $font-size-e-extra-large;
	color: var(--black);
}

.icon-style-white {
	font-size: $font-size-extra-large;
	font-weight: 900;
	line-height: 0.6;
	color: var(--white);
}

.hover-text-style {
	font-size: $font-size-extra-large;
	line-height: 1.2;
	color: #ffffff;
	color: var(--white);
}

.nav-label-header {
	font-size: $font-size-large;
	line-height: 1;
	letter-spacing: 4px;
	color: var(--white);
}

.ui-text-label-l-dialogue-light {
	font-size: $font-size-large;
	letter-spacing: 1px;
	color: var(--white-three);
}

.ui-text-label-l-left {
	font-size: $font-size-large;
	line-height: 1;
	color: var(--black);
	text-align:left;
}

.ui-text-label-l {
	font-size: $font-size-large;
	line-height: 1;
	text-align: center;
	color: var(--black);
}

.ui-text-label-l-dialogue {
	font-size: $font-size-large;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
	color: var(--black);
}

.button-text {
	font-size: $font-size-button;
	text-align: center;
	color: var(--black);
}

.ui-text-label-m-blue {
	font-size: $font-size-mid;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--flat-blue);
}

.ui-text-label-m-red {
	font-size: $font-size-mid;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--scarlet);
}

.ui-text-label-m-broad {
	font-size: $font-size-mid;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--black);
}

.nav-label-footer {
	font-size: $font-size-mid;
	font-weight: 500;
	letter-spacing: 4px;
	color: var(--white);
}

.ui-text-label-m {
	font-size: $font-size-mid; 
	font-weight: 500;
	color: var(--black);
}

.ui-text-label-m-light {
	font-size: $font-size-mid;
	color: var(--warm-grey);
}

.calendar-day-numbers-white {
	font-size: $font-size-small;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
	color: var(--white);
}

.calendar-day-numbers-lighter {
	font-size: $font-size-small;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
	color: var(--pinkish-grey);
}

.text-style {
	font-size: $font-size-small;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
	color: var(--black);
}

.ui-text-label-s {
	font-size: $font-size-small;
	line-height: 1.1;
	text-align: center;
	color: var(--black);
}

.copyright {
	font-size: $font-size-small; 
	//font-weight: 300;
	text-align: right;
	color: var(--white);
}

.ui-text-label-s-light {
	font-size: $font-size-small;
	//font-weight: 300;
	line-height: 1.1;
	text-align: justify;
	color: var(--warm-grey);
}

.ui-text-label-s-left {
	font-size: $font-size-small;
	//font-weight: 300;
	line-height: 1.1;
	color: var(--black);
}