@import "compass/compass/functions";
@import "compass/compass/css3";
button.accordion {
    background-color: white;
    cursor: pointer;
    //padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

button.accordion.active {
    /* background-color: var(--white-two); */
}

button.accordion:before {
    content: '+';
    font-size: 14px;
    font-weight: 900;
    color: #9b9b9b;
}

button.accordion.active:before {
    content: "–";
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    display: none;
}

div.panel.show {
    opacity: 1;
    max-height: 5000px;
    display: block;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
