@import "compass/compass/functions";
@import "compass/compass/css3";
@import "baseapps/settings";

button.accordion {
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

button.accordion.active {
    // background-color: var(--white-two);
}

button.accordion:before {
    content: '+';
    font-size: 14px;
    font-weight: 900;
    color: #9b9b9b;
}

button.accordion.active:before {
    content: "–";
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

div.panel.show {
    visibility: visible;
	max-height: 500px;
    opacity: 1;
}

td.accordion {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; 
}

th.accordion {
	text-align:left; 
	border-bottom:1px solid var(--white-three);
}

table.accordion {
	width:260px; // not sure why 100% does not work here
	table-layout:fixed;
}

// RM
// should be global stuff changes to _settings 

//

::-webkit-scrollbar {
      width: 7px;
      height: 7px;
} 
::-webkit-scrollbar-track {
      background-color: none;
}
::-webkit-scrollbar-thumb {

	border: 1px solid var(--pinkish-grey);
    background-color: var(--white-three); 
    border-radius: 2px;

} 


 
input.search-box, input.search-box:hover, input.search-box:focus {
	padding-left: 28px;
	// height: 24px;
	// border: 0.5px solid var(--white-three);
	// ui-text-label-m-light 
	// font-family: Avenir, Lato;
	// line-height: 1.5;
	// color: var(--warm-grey);
	background-image: url('/assets/nav/MagGlass.png');
    background-repeat: no-repeat;
    background-position: 6px 3px;
}


